html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.view {
  flex-grow: 1;
  border: 1px solid lightgray;
  overflow: scroll;
  margin: 0.2rem;
}

#output {
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
  .columns {
    display: flex;
    flex-direction: column;
  }

  .view + .view {
    margin-top: 1rem;
  }
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}