doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/lib/codemirror.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.css")
  link(rel="stylesheet" href="index.css")
  title HyperPug

.columns
  .view
    textarea#editor
  .view
    #output

script(src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/lib/codemirror.min.js")
script(src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/mode/xml/xml.js")
script(src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/mode/css/css.js")
script(src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/mode/pug/pug.js")
script(src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/addon/edit/matchbrackets.js")
script(src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/addon/edit/matchtags.js")
script(src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/addon/edit/closebrackets.js")

script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/components/prism-core.min.js" data-manual)
script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/plugins/autoloader/prism-autoloader.min.js")

script(src="../browser.ts")
script(src="index.js")
